html,body {
/* black background, arial font 14px, font weight 300, zero margins */
	background-color: black;
	font-family: Arial;
	font-size: 14px;
	font-weight: 300;
	margin: 0px;

}
#container {
/* black background, full width of screen, background image bg.gif */
	background-color: black;
	width: 100%;
	background-image: url("bg.gif");

}
#main {
/* full width, white font, black background  */
	width: 100%;
	color: white;
	background-color: black;

}
#navbar {
}
#subnavbar {
}
#leftmain {
/* text align to center, black background, float left, border 1px solid style  */
/* YOU determine margins, padding, width, height to match ANSWERKEY.jpg */
	text-align: center;
	background-color: black;
	float: left;
	border: 1px solid gray;
	margin-top: 4em;
	margin-left: 8em;
	height: 50%;
	width: 19%;
	padding: 1em;
}
#rightmain {
/* black background, float left, border 1px solid style  */
/* YOU determine margins, padding, width, height to match ANSWERKEY.jpg */
	background-color: black;
	float: left;
	border: 1px solid gray;
	width: 30%;
	margin-top: 4em;
	margin-left: 1.5em;
	padding-left: 5em;
	padding-right: 5em;
	padding-bottom: 12.3em;
	padding-top: 4.5em;
	
}
a:link {
/* Gray */
	color: gray;
}
a:visited {
/* Gray */
	color: gray;
}
a:hover {
/* White, no text decoration */
	text-decoration: none;
	color: white;
}